.footer-soc {
    height: 90px;
    background-color: #E6E6E6;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.footer-fb {
    width: 60px;
    height: 20px;
    background-color: #4A62AC;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 6px;
}
.footer-google {
    width: 60px;
    height: 20px;
    border: 2px solid #808184;
    border-radius: 5px;
    background-color: #F1F1F2;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 6px;
}
.footer-tweet {
    width: 70px;
    height: 20px;
    background-color: #5FA8DC;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 7%;
}
.fb-img {
    height: 15px;
    width: 15px;
}
.g-img {
    width: 20px;
    height: 13px;
}
.t-img {
    width: 10px;
    height: 10px;
}
.fb-share {
    font-size: 12px;
    color: #fff;
    font-family: HelveticaNeueLTStdBdCn;
}
.g-share {
    color: #404041;
    font-size: 12px;
    font-family: HelveticaNeueLTStdBdCn;
}
.t-share {
    color: #fff;
    font-size: 12px;
    font-family: HelveticaNeueLTStdBdCn;
}
.byme {
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    font-family: MyriadProRegular;
}
.byme:nth-child(2) {
    margin-left: 7%;
}

.byme:nth-child(2) {
    margin-right: 7%;
}