.map {
    display: flex;
    background-color: #E6E6E6;
    align-items: center;
    justify-content: center;
}
.map-div {
    display: flex;
    margin: 2% auto;
}
.geolab {
    width: 1170px;
    height: 460px;
}