.red {
    height: 90px;
    background-color: #EE4036;
    display: flex;
    }
    .red-a {
    color: #fff;
    font-size: 22px;
    font-family: RobotoRegular;
    text-transform: uppercase;
    margin-left: 4%;
    align-self: center;
    }
    